

body, html {
    height: 100%;
}

.container-fluid{
    margin: 0vh !important;
}

.sidebar {
  height: 100vh !important;
  background-image: linear-gradient(to bottom, #ea288c, #ff6d00 70%, #ffff00);
}

.img-mask{
    margin-left: 50px;
    margin-top: 60px
}

.item-row{
    height: 33.33vh;
    margin-left: 0px !important;
    border: solid 1px #dddddd;
}

.item-last{
  background-color: #f5f5f5;
}

.your_password {
  margin-left: 50px;
  width: 266px;
  height: 126px;
  font-family: SimplonOi-Headline;
  font-size: 70px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.9;
  letter-spacing: -4px;
  color: #ffffff;
}


input{
    border-width:0px !important;
    border:none !important;
    
}

input[type="checkbox"]{
      width: 50px !important;
      height: 50px !important;
      padding: 10px !important;
      content: '&' !important;
      background: url("../svg/check_box.svg") no-repeat 0 0;
      border-radius: 5px !important;
      border: 2px solid #ddd !important;
      display: inline-block !important;
      vertical-align: middle !important;
      margin-right: 10px !important;
      text-align: center !important;
      z-index: 9999;
}



input:focus {
    outline-width: 0;
}


.password{
  font-family: SimplonBP-Light;
  font-size: 42px;
  font-weight: 300;
  margin-left: 87px !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 7;
  letter-spacing: -2px;
  color: #dddddd;
}

.enter-text{
  margin-left: 87px !important;
  font-family: SimplonBP-Light;
  font-size: 42px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 7;
  letter-spacing: -2px;
  color: #cccccc;
}

.email-name{
  position: absolute !important;
  margin-top: 78.1px;
  margin-left: 87px !important;
  font-family: SimplonBP-Regular;
  font-size: 14px;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  letter-spacing: -0.5px;
  color: #777777;
}

.email{
  font-family: SimplonBP-Light;
  font-size: 42px;
  font-weight: 300 !important;
  font-style: normal;
  margin-left: 87px !important;
  font-stretch: normal;
  line-height: 7;
  letter-spacing: -2px;
  color: #777777;
}

.check{
  font-family: SimplonBP-Light;
  font-size: 42px;
  object-fit: contain;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  width: 21px;
  height: 21px;
  margin-top: 125px !important;
  margin-right: 11px !important;
}


.text-show{
  margin-top: 120px;
  font-family: SimplonBP-Light;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.6px;
  color: #dddddd;
  margin-right: 76px !important;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}



/* Responsive: Portrait tablets and up */
@media screen and (max-width: 1024px) {
    .sidebar{
        height: 25vh !important;
    }
    .item-row{
        height: 25vh;
        max-height: 25vh;
    }
}


/* simple max-width query */
@media screen and( min-width: 1024px ){
    .sidebar{
        height: 100vh !important; 
    }
}
