

body, html {
    height: 100%;
}

.container-fluid{
    position: fixed !important;
    margin: 0vh !important;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
}

.sidebar {
  height: 100vh !important;
  background-image: linear-gradient(to bottom, #ea288c, #ff6d00 70%, #ffff00);
}

.img-mask{
    margin-left: 50px;
    margin-top: 60px
}

/* text on side bar */
.sidebar_text {
  margin-left: 50px;
  width: 266px;
  height: 126px;
  font-family: SimplonOi-Headline;
  font-size: 70px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.9;
  letter-spacing: -4px;
  color: #ffffff;
}

.item-row{
    height: 33.33vh !important;
    margin-left: 0px !important;
    border: solid 1px #dddddd;
}

.item-last{
  background-color: #f5f5f5;
}




/* remove the border */
input {
  border-width:0px !important;
  border:none !important;
}

.checkbox-container{
    vertical-align: middle;
}

/* below customize checkbox */

/* align label to checkbox */
label {
  display: block;
  padding-left: 15px;
  line-height: 19px;
  text-indent: 15px;
  margin-right: 70px !important;
}


input[type="checkbox"]{
    opacity: 0;
}

input[type="checkbox"] + label{
    background-color: #fff;
    border: 0.08rem solid #999999;
    width: 21px  !important;
    height: 21px;
    float: right;
    display: block;
    margin-right: 70px !important;
}

input[type="checkbox"]:hover + label{
    content: ' ';
    width: 21px  !important;
    height: 21px;
    border: 0.08rem solid #C72177;
    background-color: #ffffff;
    border-radius: 0.125rem;
}

input[type="checkbox"]:checked + label {
    content: ' ';
    width: 21px;
    height: 21px;
    background: url(../svg/checkbox_on.svg);
    background-repeat: no-repeat;
    border: none;
    *overflow: hidden;
}

input[type="checkbox"]:checked + label{
    color : #C72177;
}



input:focus {
    outline-width: 0;
}

/* the above email input text */
.email-name{
  position: absolute !important;
  margin-top: 10vh;
  margin-left: 87px !important;
  font-family: SimplonBP-Regular;
  font-size: 14px;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  letter-spacing: -0.5px;
  color: #777777;
}

/* email input */
.email{
  font-family: SimplonBP-Light;
  font-size: 42px;
  font-weight: 300 !important;
  font-style: normal;
  margin-left: 87px !important;
  font-stretch: normal;
  letter-spacing: -2px;
  color: #777777;
  width: 100%;
}

/* the password input */
.password{
  font-family: SimplonBP-Light;
  font-size: 42px;
  font-weight: 300;
  margin-left: 87px !important;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -2px;
  color: #dddddd;
  width: 100%;
}

.float-right{
    text-align: right;
    display: block;
    float: right !important;
    clear: right !important;
    width: 100%;
}

.margin-right{
    margin-right: 76px !important;
    width: 4vw !important;
}

/* the button continue */
.btn-continue{
  margin-left: 87px !important;
  font-family: SimplonBP-Light;
  font-size: 42px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -2px;
  color: #cccccc;
}




/* center child items on screen */
.vertical-align-items{
    height: 100% !important;
}


/* arrow "Entrar" button */
.arrow-continue{
    float: right;
    vertical-align: middle;
}

.img-container{
    display: inline-block;
    float: right;
    clear: right;
    width: 100%;
    margin-right: 70px;
}


.text-show{
  font-family: SimplonBP-Light;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.6px;
  color: #dddddd;
  margin-right: 76px !important;
}

/* align div in vertical center */
.inline{
    display: flex;
    align-items: center;
}

/* remove padding in bootstrap */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}




/* simple max-width query */
@media screen and( min-width: 1200px ){
    .sidebar{
        height: 100vh !important; 
    }
    

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) and (max-width: 1199px){
    .sidebar {
        font-size: 4.375rem;
        text-align: -webkit-auto;
        padding-right: 25px;
        height: 20vh !important;
    }
    
    .sidebar_text{
        width: auto;
        float: right;
        text-align: right;
        margin-top: -60px;
        margin-right: 50px;
    }
    
    .item-row{
        height: 26.66vh !important;
        max-height: 26.66vh !important;
    }
    
    .email-name{
      position: absolute !important;
      margin-top: 5vh;
    }
    
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 767px) {
    
    /* the sidebar menu */
    .sidebar{
        display: flex;
        align-items: center;
        height: 7vh;
        max-height: 7vh !important;
    }
    
    /* the logo img */
    .img-mask{
        width: 90px;
        height: 63px;
        margin: 0 0 0 1.25rem !important;
    }
    
    
     /* text in sidebar */
    .sidebar_text{
        display: flex;
        align-items: center;
        width: auto;
        float: right;
        text-align: right;
        font-size: 14px;
        letter-spacing: -0.5px;
        padding-top: 2vh;
        margin: 0px 1.3125rem 1.5625rem auto;
        box-sizing: border-box;
    }
    
    /* each line */
    .item-row{
        height: 31vh;
        max-height: 31vh;
    }
    
    .email-name{
      position: absolute !important;
      margin-top: 5vh;
      margin-left: 31px !important;
    }
    
    
    /* the email input */
    .email{
        font-size: 18px;
        letter-spacing: -0.9px;
        margin-left: 31px !important;
    }
    
    /* the password input and the button continue*/
    .password, .btn-continue{
      font-size: 21px;
      letter-spacing: -1px;
      margin-left: 31px !important;
    }
    
    label{
        font-size: 14px !important;
    }

}

/* to manage the checkbox position */
@media screen and (min-width: 1500px){
    .margin-right{
        width : 6vw !important;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1499px){
    .margin-right{
        width : 4vw !important;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px){
    .margin-right{
        width : 15vw !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 999px){
    .margin-right{
        width : 20vw !important;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px){
    .margin-right{
        width : 17vw !important;
    }
}

@media screen and (max-width: 499px){
    .margin-right{
        width : 14vw !important;
    }
}
