
* {
    margin: 0;
    padding: 0;
}

body{
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-45deg, #00ceff, #9f24ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-45deg, #00ceff, #9f24ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-45deg, #00ceff, #9f24ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-45deg, #00ceff, #9f24ff); /* Standard syntax */
    
    background-repeat: no-repeat; /* dont repeat the background gradient */
    
    height: 100vh; /* full height */
}

/* main container */
.main{
    width:  355px;
    height:  385px;
    
    /* browsers that dont render gradient */
    background-color: transparent; 
}

/* the logo on top screen */
.oi_play_logo{
    position: absolute;
    margin-top: 20px;
    margin-left:  31px;
}

/* first text on top */
.acesse_com_login{
    position: absolute;
    font-family: "SimplonBP-Light";
    font-size: 14px;
    text-align: left;
    color: white;
    margin-top: 90px;
    margin-left:  31px;
    font-weight: 100;
}

/* input text to e-mail and cpf */
.email-cpf-input{
    position: absolute;
    margin-top: 111.8px;
    margin-left:  31px;
    padding: 0;
    font-weight: 100;
}

/* input text to password */
.password-input{
    position: absolute;
    margin-top: 167px;
    margin-left:  31px;
    padding: 0;
    font-weight: 100;
}

/* for the two inputs on screen */
input[type=text],input[type=password]{
    border: 1px solid #909090 !important;
    padding-left: 20px !important;
    font-family: "SimplonBP-Light";
    font-size: 14px;
    color: #222222;
}

/* disable border on focus */
input:focus{
    outline: none;
}



/* the button "Entrar" */
.btn-start{
    background-color: #ffa801;
    position: absolute;
    margin-left: 31px;
    margin-top: 230.2px;
    padding: 0 !important;
    border: "white" !important;
    border-width: 0px !important;
    width : 294px;
    height: 54.9px;
    font-family: "SimplonBP-Light";
    font-size: 14px;
    color: #222222;
    font-weight: 100;
}

.btn-start:active,focus{
    background-color: #ffb401;
}

/* the text Ainda nao tem cadastro */
.no_record{
    position: absolute;
    width : 294px;
    margin-left: 31px;
    margin-top: 304px;
    color: white !important;
    font-family: "SimplonBP-Light";
    font-size: 14px;
}

/* the button register */
.btn-register{
    width : 294px;
    height: 40.8px;
    margin-left: 31px;
    background-color: transparent;
    color: white;
    font-family: "SimplonBP-Light";
    font-size: 14px;
    position: absolute;
    margin-left: 31px;
    margin-top: 325.2px;
    border : white solid 1px;
    border-color : white;
    border-width: 1px;
}

.btn-register:active{
    background-color: white;
    color: #222222;
    border-width: 0px;
}

/* button to "esqueceu" */
.btn_forgot{
    position: absolute;
    margin-left: 237px;
    margin-top: 190.5px;
    border: none;
    background-color: white;
    text-decoration: underline;
    font-family: "SimplonBP-Light";
    font-size: 11px;
    color : #909090;
}

/* disable button border on focus, hover and active */
button:hover {
    outline:none;
}

button:active {
    outline:none;
}

button:focus {
    outline:none;
}


/* change placeholder for input */
::-webkit-input-placeholder {
    font-family: "SimplonBP-Light";
    font-size: 14px;
    color: #909090;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: "SimplonBP-Light";
    font-size: 14px;
    color: #909090; 
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: "SimplonBP-Light";
    font-size: 14px;
    color: #909090;  
}

:-ms-input-placeholder {  
    font-family: "SimplonBP-Regular";
    font-size: 14px;
    color: #909090;  
}

/* hide placeholder on focus */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/* hide btn_forgot when password has focus */
input.password-input:focus + button.btn_forgot {
  display: none;
}

@media only screen 
and (min-width : 1024px) {
    
    /* change the main containt width */
    .main {
        width: 30%;
        margin: 1em auto;
    }
    
    
    /* define default size of inputs */
    .default-size{
        width : calc(30% - 20px) !important;
        height: 56px;
    }
    
    
    .btn-register,.btn-start{
        width : 30% !important;
    }
    
    .btn_forgot{
        margin-left: calc(30% - 62px)
    }
    
}

@media only screen 
and (max-width : 1024px) {
    
    
    /* define default size of inputs */
    .default-size{
        width : calc(100% - 91px);
        height: 56px;
    }
    
    input{
        width : calc(100% - 31px);
        height: 56px;
        margin-right: 31px;
    }
    
    .btn-register,.btn-start{
        width : calc(100% - 70px);
    }
    
    .btn_forgot{
        margin-left: calc(100% - 130px)
    }
    
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    
    body {
        width: 100%;
        margin: 0;
    }
    
    
}