.main{
    width:  355px;
    height:  385px;
    
    /* browsers that dont render gradient */
    background: #00ceff; 
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-45deg, #00ceff, #9f24ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-45deg, #00ceff, #9f24ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-45deg, #00ceff, #9f24ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-45deg, #00ceff, #9f24ff); /* Standard syntax */
}

.oi_play_logo{
    position: absolute;
    margin-top: 20px;
    margin-left:  31px;
}

.acesse_com_login{
    position: absolute;
    font-family: "SimplonBP-Light";
    font-size: 14px;
    text-align: left;
    color: white;
    margin-top: 90px;
    margin-left:  31px;
    font-weight: 100;
}

.email-cpf-input{
    position: absolute;
    margin-top: 111.8px;
    margin-left:  31px;
    padding: 0;
    font-weight: 100;
}

.password-input{
    position: absolute;
    margin-top: 167px;
    margin-left:  31px;
    padding: 0;
    font-weight: 100;
}

input[type=text],input[type=password]{
    border: 1px solid #909090 !important;
    padding-left: 20px !important;
    font-family: "SimplonBP-Light";
    font-size: 14px;
    color: #222222;
}

.default-size{
    width : 272px;
    height: 56px;
}

.button-start{
    background-color: #ffa801;
    position: absolute;
    margin-left: 31px;
    margin-top: 230.2px;
    padding: 0 !important;
    border: "white" !important;
    border-width: 0px !important;
    width : 294px;
    height: 54.9px;
    font-family: "SimplonBP-Light";
    font-size: 14px;
    color: #222222;
    font-weight: 100;
}

.no_record{
    position: absolute;
    width : 294px;
    margin-left: 31px;
    margin-top: 304px;
    color: white !important;
    font-family: "SimplonBP-Light";
    font-size: 14px;
}


.btn-register{
    width : 294px;
    height: 40.8px;
    margin-left: 31px;
    background-color: transparent;
    color: white;
    font-family: "SimplonBP-Light";
    font-size: 14px;
    position: absolute;
    margin-left: 31px;
    margin-top: 325.2px;
    border : white solid 1px;
    border-color : white;
    border-width: 1px;
}


/* change placeholder for input */
::-webkit-input-placeholder {
    font-family: "SimplonBP-Light";
    font-size: 14px;
    color: #909090;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: "SimplonBP-Light";
    font-size: 14px;
    color: #909090;  
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: "SimplonBP-Light";
    font-size: 14px;
    color: #909090;  
}

:-ms-input-placeholder {  
    font-family: "SimplonBP-Regular";
    font-size: 14px;
    color: #909090;  
}