/* todo: make one class on positivation page */
.positivacao #fullpage{
    height: 100vh;
    display: flex;
    align-items: center;
    width: 83.3333vw !important;
}

.collapse-option{
  font-family: 'SimplonBP-Light';
  font-size: 21px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.7px;
  color: #8c8c8c;
  background-color: #ffffff;
  border: solid 1px #dbdbdb;
  width: 370px;
  border-radius: 4px;
  height: 80px;
}

.button-custom{
    margin-top: 1px;
    position: relative;
    background-color: white;
    border-width: 0px;
    width: 368px;
    height: 77px;
    text-align: left;
    padding-left: 37px;
}

.button-inside{
  width: 300px;
  height: 60px;
  border-radius: 3px;
  background-color: transparent;
  text-align: left;
  margin-left: 16px;
  padding-left: 23px;
  border-width: 0px;
}

.button-inside:hover,
.button-inside:active,
.button-inside:focus{
    background-color: #f5f5f5;
    color: #ef3a67;
}

.arrow_item{
    position: absolute;
    background-size: 14px;
    background-repeat: no-repeat;
    height: 10px;
    width: 14px;
    float: right;
    clear: right;
    margin-right: 40px;
    top: 46%;
    left: 315px;
}

.arrow_down{
    background-image: url(../svg/arrow_down.svg);
}

.arrow_up{
    background-image: url(../svg/arrow_up.svg);
}

.collapsing,
.collapse.in{
    /* height: 180px;
    max-height: 180px;
    overflow-y: scroll; */
}

/*::-webkit-scrollbar
{
    display: block !important;
    height: 100px;
    width: 5px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background: #2d2d2d;
    background-image: url(../svg/scroll-img.svg);
    background-repeat: no-repeat;
}*/

/* custom scrollbar plugin */
.mCSB_dragger_bar{ 
    background-color: #2d2d2d !important;
    width: 5px !important;
    height: 50px !important;
}

.mCSB_dragger{
    height: 50px !important;
}

.mCSB_draggerRail {
    background-color: transparent !important;
}

.internal-content{
    /* width: 325px;*/
    width: 330px;
    height: 180px;
    max-height: 180px;
    overflow-y: auto;
    overflow-x: hidden; 
    color: #2d2d2d;
}

.collapse-container{
    padding-left: 0px !important;
    background-color: white;
    z-index: 4000;
    position: relative;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-style: solid;
    border-color: #dbdbdb;
}


.collapse-container .collapse, 
.collapse-container .collapsing, 
.collapse-container .collapse.in {
    padding-left: 0px !important;
    /*
    background-color: white;
    z-index: 4000;
    position: relative;
    top: -3px;
    left: -2px;
    width: calc(100% + 4px);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-style: solid;
    border-color: #dbdbdb;*/
}

/* remove blue border */
button:focus {outline:0;}

.separator{
    font-size: 14px;
}

.content-home{
    /* left: 16.666vw; */
}

.section footer{
    margin-top: 2vh;
}

.row-custom{
    display: block !important;
}

.content-inside{
    padding-right: 89px;
    padding-left: 40px;
}

.content-inside > h2{
    font-family: 'SimplonBP-Regular';
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 1.75; */
    color: #222222;
    margin-top: 9px;
}

.content-inside > p{
  font-family: 'SimplonBP-Light';
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: -0.6px;
  color: #222222;
  width: 25vw;
}

.content-inside > img{
    margin-top: 22px;
    width: 367px;
    height: 196px;
}


.modal{
    width: 100%;
    margin-right: 10px;
    top: inherit;
    border-radius: 15px;
}

.modal-content,
.modal-dialog{
    /*width: 99%;*/
    border-radius: 15px;
    background-color: transparent;
    margin-bottom: 13px;
}

.modal-content-button,
.modal-footer-button{
    background-color: white;
    width: 100%;
}

.modal-content-button{
     border-radius: 15px;
}

.modal-footer-button{
    margin-top: 13px;
    border-radius: 10px;
}

.fade-scale {
  transform: translate3d(0, 100vh, 0);
  -webkit-transition: all .7s linear;
  -o-transition: all .7s linear;
  transition: all .7s linear;
}

.fade-scale.in {
  transform: translate3d(0, 0vh, 0);
}

.line{
    width: 100%;
    height: 1px;
    background-color: #e9eaec;
}

/*.modal.fade .modal-dialog {
  transform: translate3d(0, 0vh, 0);
}

.modal.in .modal-dialog {
  transform: translate3d(0, 60vh, 0);
}*/


.cancel{
  font-family: "Helvetica";
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.7px;
  color: #fa2536;
  font-weight: 100;
}

.content-small{
    width: inherit;
}

.separator{
    margin: 0px 0.5vw 0px 0.5vw;
}

.content-before p{
    width: 28vw;
}


footer.telephone{
    display: block;
}

.content-img{
    margin-top: 38px;
}



@media screen and (min-width:1200px){
    .with-image .content{
        /* width: 50% !important; */
        /* width: inherit; */
    }
    
}

@media screen and (max-width: 1199px){
    
    /*.collapse-container{
        z-index: 4000;
        position: relative;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        border-bottom-width: 2px;
        border-left-width: 2px;
        border-right-width: 2px;
    }*/
    
    .row-custom{
        display: flex !important;
    }
    
    .content-inside ,
    .content-inside img{
        padding-right: 0px;
        padding-left: 0px;
        width: inherit;
        height: auto;
    }
    
    .content-inside img{
        margin-top: 5vh;
    }
    
    .content-inside > p {
        width: 100%;
        font-size: 18px;
    }
    
    footer{
        margin-top: 23px !important;
    }
    
    .start{
        width: 100%;
    }
    
    .content-before p{
        width: inherit;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .content-img{
        width: 60vw !important;
        margin-top: 38px;
        font-size: 28px;
        line-height: 1.5;
        letter-spacing: -0.75px;
    }
}

@media screen and (min-width: 768px){
    .hidden-small{
        display: block;
    }
    
    .visible-small{
        display: none
    }
}

@media screen and (max-width: 767px) {
    
    .row-custom{
        display: block !important;
    }
    
    .content-inside > p {
        font-family: 'SimplonBP-Regular';
        width: 100%;
        font-size: 14px;
        font-weight: 100;
    }
    
    .content-img{
        font-size: 14px;
        line-height: 20px !important;
        width: inherit !important;
        word-wrap: break-word;
        padding-right: 0px;
        margin: 0px 0px 5vh 0px !important;
    }
    
    footer{
        margin-bottom: 8vh !important;
    }
    
    .content-inside img{
        margin-top: 5vh;
    }
    
    .button-inside{
        width: 139px;
        margin-left: calc(50% - 68.5px);
        margin-right: auto;
        text-align: left !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    
    .button-inside:hover,
    .button-inside:active,
    .button-inside:focus{
        background-color: white;
        color: #ef3a67;
    }
    
    .cancel{
        text-align: center !important;
    }
    
    .cancel:hover,
    .cancel:active,
    .cancele:focus{
        background-color: white;
        color: #fa2536;
    }
    
    .button-modal{
      font-family: 'Helvetica';
      font-size: 21px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -0.7px;
      color: #036efe;
      text-align: center;
      font-weight: 100;
    }
    
    .cancel{
        font-family: 'Helvetica';
        font-size: 21px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: -0.7px;
        color: #fa2536;
        font-weight: 100;
    }
    
    
    .collapse-option{
        width: inherit;
    }
    
    .button-custom{
        width: inherit;
    }
    
    .hidden-small{
        display: none;
    }
    
    .visible-small{
        display: block;
    }
    
    .arrow_item {
        left: calc(100% - 40px);
    }
    
    .content-home{
        left: 0px;
        width: 100vw;
        height: 100%;
        position: relative;
    }
    
    .positivacao #fullpage{
        padding-top: 8vh;
        height: calc(100vh - 70px) !important;
        vertical-align: top;
        align-items: flex-start;
        width: 100vw !important;
        overflow-y: scroll !important;
    }
    
    #fullpage > .section{
        padding-top: 7vh !important;
    }
    
    .other-section{
        height: calc(100vh - 70px) !important;
        width: 100%;
        margin-left: 40px;
        margin-right: 40px;
        vertical-align: top;
        align-items: flex-start; 
        justify-content:flex-start !important;
        overflow-y: scroll;
    }
}