body, html {
  font-size: 16px; }

@keyframes infinite-spinning {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }

.spinning {
  animation: infinite-spinning 1s infinite linear; }

.error-text {
  font-size: 13px;
  color: #ff0000;
  line-height: 2.15;
  letter-spacing: -0.5px; }

.btn-outline {
  width: 270px;
  height: 70px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e03d6f;
  font-size: 21px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #e03d6f; 
}

.btn-outline:hover {
    background-color: #e03d6f;
    color: white; 
}
.btn-outline:focus, .btn-outline:active, .btn-outline:focus:active {
    outline: none;
}

@media screen and (max-width: 767px) {
    .btn-outline {
      width: 100%; 
    } 
}

.alert.alert-notification {
  background: #ed307c;
  color: white;
  position: relative; }
  .alert.alert-notification:before {
    content: "";
    display: block;
    bottom: -20px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ed307c; }

.resource-link {
  margin-top: 23px;
  font-size: 14px;
  color: #4a4a4a;
  letter-spacing: -0.5px; 
}

a{
    text-decoration: none;
}

.resource-link:hover, .resource-link:active, .resource-link:focus , 
a:hover, a:focus{
    color: #4a4a4a;
    text-decoration: underline !important; 
}

.vertical-align-wrapper {
  display: table; 
}

.vertical-align-wrapper .vertical-aligner {
    display: table-cell;
    vertical-align: middle; 
}



@media screen and (max-width: 767px) {
  #layout_positivacao .sidebar {
    max-height: initial !important;
    height: 70px !important; }
  #layout_positivacao .page-content {
    padding: 0 1.875rem !important;
    height: calc(100vh - 70px); }
    #layout_positivacao .page-content .vertical-align-wrapper.page-content-wrapper {
      height: auto;
      padding: 2.5rem 0;
      width: 100%;
      display: inline-block; }
      .vertical-aligner {
        width: 100%;
        display: inline-block; }
        #layout_positivacao .page-content .vertical-align-wrapper.page-content-wrapper .vertical-aligner .text p {
          font-size: 14px !important;
          line-height: 1.43;
          letter-spacing: -0.7px; }
        #layout_positivacao .page-content .vertical-align-wrapper.page-content-wrapper .vertical-aligner .text br.hidden-sm {
          display: none; }
        #layout_positivacao .page-content .vertical-align-wrapper.page-content-wrapper .vertical-aligner .content {
          margin-bottom: 1.875rem !important; } }

::-webkit-input-placeholder {
  font-size: 21px;
  color: #797979; 
}


.list-container * 
{
    width: 100%; 
}

#phoneList.list-group {
    margin-bottom: 1.25rem; 
}

#phoneList.list-group .list-group-item {
      padding: 22px 15px;
      font-size: 21px; 
}


#phoneList.list-group .list-group-item:first-child {
    margin-top: 0; 
}

#phoneList.list-group .list-group-item p {
    color: #222222;
    letter-spacing: -0.7px;
    margin: 0; 
}

input[type="text"], input[type="password"] {
    font-family: 'SimplonBP-Light';
    font-size: inherit;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 5.36;
    letter-spacing: -0.3px;
    color: #777777;
    height: 50px;
}

input[type=radio] {
    margin-top: -4px;
    height: 0;
    width: 0; 
}


input[type=radio]::before {
      content: '';
      background-color: white;
      position: static;
      width: 24px;
      height: 24px;
      border: 4px solid white;
      border-radius: 12px;
      margin: auto;
      display: block; 
}
input[type=radio]:checked::before {
    background-color: #ef3a67; 
}
input[type=radio]::after {
      content: '';
      border: 1px solid #dbdbdb;
      border-radius: 12px;
      width: 24px;
      height: 24px;
      display: block;
      position: static;
      margin-top: -24px; 
}
input[type=radio]:checked::after, input[type=radio]:hover::after {
      border-color: #ef3a67; 
}
.activation-code-input {
    margin-top: 2.1875rem; 
}
.custom-input-group {
      height: 75px; 
}
.input-wrapper {
    padding: 0 15px;
    float: left;
    border: 1px solid #dbdbdb;
    border-right: 0 none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 75px;
    width: 77%; 
    background-color: white;
}
.vertical-aligner {
    width: 100%; 
    background-color: white;
}

.vertical-aligner .error-text {
    height: 20px;
    transition: .2s linear;
    display: inline-block !important;
    overflow: hidden; 
}

.vertical-aligner .error-text.hidden {
      height: 0px;
      display: inline-block !important;
}

.vertical-aligner input {
    width: 100%;
    height: 30px;
    border: 0 none; 
}

.vertical-aligner input:disabled {
    background: none; 
}
.vertical-aligner .error-text, .vertical-aligner input {
    float: left;
    width: 100%; 
}

.custom-input-group .counter-wrapper {
    float: left;
    padding: 0;
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.75px;
    color: #777777;
    background: #d8d8d8;
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 23%;
    height: 75px;
    line-height: 75px; 
}
    
.remaining-characters {
    text-align: center; 
}
.loading-container {
      margin: 0px !important;
      display: inline-block; 
}

.loading-container img {
      width: 25px; 
}

footer {
      margin-top: 5px; 
}
      #layout_positivacao .page-content .section .activation-code-input footer .separator {
        margin-top: 23px;
        font-size: 14px;
        color: #4a4a4a;
        margin: 0 14px; }

@media screen and (max-width: 767px) {
  #layout_positivacao .sidebar img {
    height: 2.5rem; }
  #layout_positivacao .sidebar .sidebar_text {
    font-size: 18px;
    margin: 0;
    height: auto; }
    #layout_positivacao .sidebar .sidebar_text br {
      display: none; }
  #layout_positivacao .page-content .section .content {
    width: 100% !important;
    margin: 0px !important; }
  #layout_positivacao .page-content .section #phoneList {
    margin-bottom: 1.875rem; }
    #layout_positivacao .page-content .section #phoneList p {
      font-size: 16px;
      letter-spacing: -0.6px; }
  #layout_positivacao .page-content .section .activation-code-input {
    margin-top: 1.875rem; }
    #layout_positivacao .page-content .section .activation-code-input .input-wrapper {
      display: table; }
      #layout_positivacao .page-content .section .activation-code-input .input-wrapper .vertical-aligner {
        display: table-cell; }
    #layout_positivacao .page-content .section .activation-code-input input {
      font-size: 21px; }
    #layout_positivacao .page-content .section .activation-code-input footer {
      margin-top: 25px; } }

.default-success, .default-error {
  display: table;
  width: 100%;
  margin-top: 3.125rem; 
}

.default-success .error_text, .default-success .sucess_text, .default-error .error_text, .default-error .sucess_text {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding-left: 15px !important;
    text-align: left; 
}
  @media screen and (max-width: 767px) {
    .default-success, .default-error {
      margin-top: 2.1875rem; }
      .default-success img, .default-error img {
        width: 1.875rem; } }

.new-message {
  font-size: 14px;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 0; 
}

.new-message.alert.alert-notification:before {
    border-width: 8px;
    bottom: -8px;
}
